
<h1>The Burgers List</h1>

<form>
  <p>
    <label for="burger">Burger</label>
    <input type="text" name="burger" id="burger">
  </p>
  <button id="addBurger">Add Burger</button>
</form>

<ol id="burgers">
  {{#each burgers}}
  <li>
    {{this.burger}}
    <button class="deleteBurger" data-id="{{this.id}}">X</button>
  </li>
  {{/each}}
</ol>


{{!-- favoriteapp reference --}}
{{!-- <h1>The Burgers List</h1>

<form>
  <p>
    <label for="item">Item</label>
    <input type="text" name="item" id="item">
  </p>
  <button id="addItem">Add Item</button>
</form>

<ol id="items">
  {{#each items}}
  <li>
    {{this.item}}
    <button class="deleteItem" data-id="{{this.id}}">X</button>
  </li>
  {{/each}}
</ol>
 --}}

{{!-- tdr reference --}}
{{!-- 
<h1>To-Do List Application</h1>

<form>
  <p>
    <label for="item">Item:</label>
    <input type="text" name="item" id="item">
  </p>
  <button id="addItem">Add Item</button>
</form>

<ul id="items"></ul> --}}