{{!-- <h1>Favorite Burgers</h1>

<form>
  <p>
    <label for="title">Title</label>
    <input type="text" name="title" id="title">
  </p>
  <button id="addBurger">Add Movie</button>
</form>

<ol id="burgers">
  {{#each burgers}}
  <li>
    {{this.title}}
    <button class="deleteBurger" data-id="{{this.id}}">X</button>
    </li>
  {{/each}}
</ol>

<script src="./burger.js"></script> --}}
